#site-navigation {
    padding: 0 15px;
    position: relative;

    * {
        overflow: visible !important;
    }

    .navigation-overlay {
        display: none;
        position: fixed;
        top: 148px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100010;
        background-color: map-get($map: $colors, $key: "text");
        opacity: .6;

        @include media-breakpoint-down(lg){
            top: unset;
            inset: 0 !important;
        }

        &.active {
            display: block;
        }
    }

    .sub-navigation {
        margin-left: 18px !important;
        z-index: 999999 !important;

        a.sub-navigation-link {
            padding: 22px 0;

            &.active {
                color: map-get($map: $colors, $key: "primary");

                &::after {
                    @include transform(rotateZ(-135deg));
                    color: map-get($map: $colors, $key: "primary");
                }

                &::before {
                    width: 100%;
                }
            }

            &::before {
                bottom: 3px;
            }

            cursor: pointer;

            &:hover::after {
                @include transform(rotateZ(-135deg));
                color: map-get($map: $colors, $key: "primary");
            }

            position: relative;

            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid map-get($map: $colors, $key: "text");
                border-right: 1px solid map-get($map: $colors, $key: "text");
                height: 6px;
                width: 6px;
                position: absolute;
                left: -13px;
                top: 50%;
                @include transform(translateY(-50%) rotate(45deg));
                transform-origin: center center;
                @include transition(transform 0.2s ease, color 0.2s ease);
            }
        }

        .sub-navigation-menu {
            width: 97%;
            margin: 20px;
            padding: 20px;
            position: absolute;
            top: 41px;
            background-color: #fff;
            @include border-radius(20px);
            right: 0;
            display: none;
            z-index: 100000;
            &.active {
                display: flex;
            }

            .sub-menu-items {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-around;

                .sub-menu-category {
                    width: 25%;

                    .category-header {
                        color: map-get($map: $colors, $key: "text");
                        font-size: 16px;
                        font-weight: 700;

                        &:hover {
                            color: map-get($map: $colors, $key: "primary");
                            border-bottom: 1px dashed map-get($map: $colors, $key: "primary");
                        }
                    }

                    .category-list-items {
                        padding-right: 20px;

                        li {
                            line-height: 40px;
                        }

                        a {
                            color: map-get($map: $colors, $key: "text");
                            cursor: pointer;
                            opacity: 0.8;
                            @include transition(all .3s ease-in-out);

                            &:hover {
                                color: map-get($map: $colors, $key: "primary");
                                font-weight: 700;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            .sub-menu-image {
                width: 250px;
                height: 250px;
                position: absolute;
                bottom: 20px;
                left: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .navigation-links{
        @include media-breakpoint-down(lg){
            display: none !important;
        }
    }
    .navigation-link {
        margin: 0 10px;
        line-height: 60px;

        >a {
            padding: 1rem 0;
            position: relative;
            cursor: pointer;
            @include transition(color, width 0.2s ease);

            &:hover {
                color: map-get($map: $colors, $key: "primary");
            }

            &:hover::before {
                width: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                background-color: map-get($map: $colors, $key: "primary");
                bottom: -5px;
                right: 50%;
                transform-origin: center;
                @include transition(width 0.3s ease-in-out);
                @include transform(translateX(50%));
            }
        }
    }

    .cart-basket {
        position: relative;

        &:hover {
            .widget-shopping-cart {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .widget-shopping-cart {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50px;
        width: 300px;
        left: 0;
        z-index: 1000;
        @include transition(opacity .2s ease);
        background-color: #fff;
        @include border-radius(20px);
        overflow: hidden;

        .cart-items {
            width: 100%;

            ul {
                width: 100%;
                height: 200px;
                overflow-y: scroll !important;

                li.cart-item {
                    position: relative;
                    width: 100%;
                    padding-right: 70px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid map-get($map: $colors, $key: "light");

                    &:hover {
                        cursor: default;

                        .delete-product {
                            opacity: 1 !important;
                        }
                    }

                    .item-picture {
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        right: 5px;
                        top: 10px;

                        .delete-product {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 50px;
                            opacity: 0;
                            background-color: map-get($map: $colors, $key: "light");
                            font-size: 30px !important;
                            @include border-radius(10px);
                            @include transition(opacity .2s ease);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @include border-radius(10px);
                        }
                    }

                    .item-title {
                        max-width: 200px;
                        color: #000;
                    }

                    .item-price {
                        color: map-get($map: $colors, $key: "text");
                        font-size: 11px;
                    }
                }
            }
        }

        .cart-total {
            padding: 10px 20px;
            background-color: transparentize(map-get($map: $colors, $key: "gray"), .8);
        }

        .cart-button {
            padding: 20px;

            a:last-of-type {
                @include border-radius(30px);
            }
        }
    }

    .cart-basket-box {

        .cart-basket {
            width: 180px;
            position: relative;
            background-color: map-get($map: $colors, $key: "primary");
            color: #fff;
            line-height: 25px;
            @include border-radius(100px);

            .cart-icon {
                font-size: 22px;
                float: right;
                line-height: 40px;
                margin: 5px 10px;
            }

            .cart-count {
                position: absolute;
                font-family: "VazirFarsiDigits";
                width: 20px;
                height: 20px;
                top: 15px;
                left: 15px;
                font-size: 11px;
                color: map-get($map: $colors, $key: "primary");
                line-height: 20px;
                text-align: center;
                @include border-radius(100%);
                background-color: map-get($map: $colors, $key: "White");
            }

            .cart-price {
                display: block;
                font-weight: 100;
                font-size: 11px;
                font-family: "VazirFarsiDigits";
            }

            .cart-title {
                font-weight: 700;
                display: block;
                line-height: 25px;
            }
        }
    }
}


.responsive-menu-icon{
    width: 25px;
    height: 28px;
    @include media-breakpoint-down(lg){
        display: block !important;
    }
}

.responsive-site-navigation {
    position: fixed;
    right: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid;
    border-color: map-get($map: $colors, $key: "gray");
    padding: 0 20px;
    z-index: 9999999999999;
    background-color: map-get($map: $colors, $key: "White");
    overflow: scroll;
    li{
        cursor: pointer;
    }
    @include transition(all .3s ease);
    .logo-container {
        width: 100%;
        margin: 30px 0;
        border-bottom: 1px solid map-get($map: $colors, $key: "light");

        .logo {
            width: 130px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    %plus-sign {
        position: relative;
        &.show::after {
            transform-origin: center;
            @include transform(translateY(-50%)rotateZ(-90deg));
        }

        &::before {
            content: "";
            display: block;
            width: 8px;
            height: 2px;
            background: map-get($map: $colors, $key: "gray");
            position: absolute;
            right: -10px;
            top: 50%;
            @include transform(translateY(-50%));
        }

        &::after {
            content: "";
            display: block;
            width: 2px;
            height: 8px;
            background: map-get($map: $colors, $key: "gray");
            position: absolute;
            right: -7px;
            top: 50%;
            @include transition(transform .3s ease);
            @include transform(translateY(-50%));
        }
    }

    .navigation-links {
        margin-right: 20px;
    }

    .sub-navigation-link {
        @extend %plus-sign;
    }

    .sub-navigation-menu {
        margin: 5px 0;
        .sub-menu-category {
            padding-right: 10px;
            a{
                font-size: 11px !important;
                color:map-get($map: $colors, $key: "gray" ) !important;
            }
            .category-header {
                @extend %plus-sign;
                font-size: 12px;

            }
        }

        display: none;

        .category-list-items {
            display: none;
        }
    }
}