#Errors{
    @include border-radius(15px);
    .error{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img{
            margin: 20px 0;
            width: 700px;
            @include media-breakpoint-down(md){
                width: 500px !important;
            }
            @include media-breakpoint-down(sm){
                width: 390px !important;
            }
            @include media-breakpoint-down(sm){
                width: 280px !important;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}