#login-signup-page{
    height: 100vh;
    #login-signup{
        width: 450px;
        background-color: map-get($map: $colors, $key: "White");
        @include border-radius(15px);
        .header-nav{
            width: 100%;
            width: 100%;
        }
        .submit{
            button , input[type="submit"]{
                color:map-get($map: $colors, $key: "light");
                background-color: map-get($map: $colors, $key: "lightblue");
                @include transition(background-color .3s ease-in-out);
                &:hover{
                    background-color: lighten($color: map-get($colors , "lightblue"), $amount: 10%);
                }   
            }
        }
        .nav-links{
            width:100%;
            height: 100%;
            .link{
                width:100%;
                height: 100%;
                background-color: map-get($map: $colors, $key: "light");
                a{
                    width:100%;
                    height: 100%;
                    padding: 15px;
                    font-weight: 700;
                    color: map-get($map: $colors, $key: "text");
                    span{
                        font-size: 12px;
                        font-weight: 300;
                    }   
                }
                %border-none{
                    border:none;
                    outline:none;
                }
                &:active{
                    @extend %border-none;
                }
                &:focus{
                    @extend %border-none;
                }
                &:first-of-type{
                    @include border-radius(0 15px 0 0);
                }
                &:last-of-type{
                    @include border-radius(15px 0 0 0);
                }
                &.active{
                    background-color: map-get($map: $colors, $key: "White");
                    a{
                        color:map-get($map: $colors, $key: "lightblue");
                 
                    }
                }

            }
        }
    }
}